/* Base Styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* a:visited, a:active {
  text-decoration: none;
} */

/* Colors */
:root {
  --color-dk-purple: hsl(273, 85%, 13%);
  --color-purple: hsl(271, 12%, 34%);
  --color-green: hsl(150, 100%, 63%);
  --color-lt-grey: hsl(274, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);
}

/* Fonts */
/* manrope-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/manrope-v19-latin-regular.woff2') format('woff2');
}

/* fraunces-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/fraunces-v37-latin-600.woff2') format('woff2');
}

/* Typography */
body {
  font-family: 'Manrope',Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 0.9353448275862069rem + 0.27586206896551724vw, 1.125rem);
  line-height: 1.7;
  overflow-x: hidden;
  padding-block-end: 50vh;
}

h1, h2, h3 {
  font-family: 'Fraunces', Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  line-height: 1.1;
}

h1 span, h2 span, h3 span {
  display: inline-block;
}

h1 span::after, h2 span::after, h3 span::after {
  content: "";
  height: 2px;
  display: block;
  background-color: var(--color-green);
  width: 100%;
}

h1 {
  font-size: clamp(3.125rem, 2.155172413793103rem + 4.137931034482759vw, 5rem);
}

h2 {
  font-size: clamp(2rem, 1.2241379310344829rem + 3.3103448275862064vw, 3.5rem);
}

h3 {
  font-size: clamp(1.75rem, 1.6206896551724137rem + 0.5517241379310345vw, 2rem);
}

/* Wrapper */
.wrapper {
  width: min(100% - 2rem, 69.375rem);
  margin-inline: auto;
}

/* Header block*/
.header {
  background-color: var(--color-dk-purple);
  color: var(--color-white);
  padding-block: 32px 64px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 6rem;
  height: auto;
}

.header__link {
  color: var(--color-white);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-green);
  text-underline-offset: 8px;
  transition: color 200ms ease-in-out;
}

.header__link:hover {
  color: var(--color-green);
}

@media screen and (min-width: 900px) {
  .header {
    padding-block: 56px;
  }
}

/* Buttons */
.button {
  color: var(--color-dk-purple);
  background-color: var(--color-green);
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  padding: 16px 33px 17px;
  border: 2px solid var(--color-green);
  transition: color 250ms, background-color 250ms;
}

.button:hover {
  color: var(--color-green);
  background-color: var(--color-dk-purple);
  border: 2px solid;
}

/* Hero */
.hero {
  background-color: var(--color-dk-purple);
  text-align: center;
  position: relative;
  margin-block-end: clamp(4rem, 3.170918367346939rem + 3.537414965986394vw, 5.625rem);
}

.hero::before, .hero::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../assets/images/bg-pattern-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero::before {
  top: 0;
  left: 0;
  translate: -38% 0;
  width: 16.875rem;
  height: 13.563rem;
}

.hero::after {
  width: 8.875rem;
  height: 7.063rem;
  right: 0;
  top: 50%;
  rotate: 90deg;
  translate: 25% -120%;
}

.hero__headline {
  color: var(--color-white);
  margin-block-end: 2.5rem;
  max-width: 12ch;
  margin-inline: auto;
}

.hero__button {
  margin-inline: auto;
  margin-block-end: 3.125rem;
}

.hero__image-wrapper {
  background: linear-gradient(var(--color-dk-purple) 50%, var(--color-white) 50%);
  padding-inline: 32px;
  position: relative;
}

.hero__image {
  margin-inline: auto;
  position: relative;
  z-index: 1;
}

.hero__image-wrapper::after {
  content: '';
  background-image: url(../assets/images/curved-hero-bottom.svg);
  position: absolute;
  inset: 45% 0 0 0;
  width: 100%;
  height: 6vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

@media screen and (max-width: 700px) {
  .hero::after, .hero::before {
    display: none;
  }
}

/* Features Section */
.features {

}

.features__wrapper {
  display: grid;
  gap: 40px 26px;
  justify-content: center;
}

.features__item {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 1rem 32px;
  max-width: 35.813rem;
}

.features__item-number {
  font-family: 'Fraunces', Georgia, 'Times New Roman', Times, serif;
  width: 3rem;
  height: 3rem;
  margin-block-end: 0.5rem;
  font-weight: 600;
  line-height: 1.1;
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.1224489795918366rem + 0.5442176870748299vw, 1.5rem);
  border: 1px solid var(--color-dk-purple);
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  text-align: center;
}

.features__item-title {

}

.features__item-description {

}

@media screen and (min-width: 900px) {
  .features__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .features__item-number {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .features__item {
    grid-template-columns: 3rem auto;
    grid-template-rows: auto auto;
    text-align: left;
    justify-items: start;
  }

  .features__item-number {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
  }
}